body {
  background-color: #babbbb;
}

/* jumbotron style */
.jumbotron {
    background-color: #d7dadd ;
}

ul {
    list-style: none;
  }


/* all img size */
img {
    width: 280px;
}

img:hover {
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

img:not(:hover) {
  transition: 1s ease-in-out;
}

/* card img container */
.card-img-container{
    height: 370px;
    background-color: #60aed4;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cards positions and places style */
.col-sm-4 {
    margin: 25px 0;
    display: flex;
    align-items: stretch;
}

/* card border radius */
.card {
    border-radius: 2%;
}

/* card h5 title style */
.card h5 {
    font-size: 24px;
    font-family: Serif;
    color: #333;
}

/* card p text style */
.card p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #f9f9f9;
    text-align: center;
    color: #777;
  }

  .footer-content {
    margin-bottom: 10px;
  }

  .footer-content p {
    margin: 5px 0;
  }

  .footer-bottom p {
    font-size: 12px;
    color: white;
  }